body {
  margin: 0;
  font-family: Georgia;
  background-color: #e6e2e2;
}

.topo {
  background-color: #b88989;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  height: 50px;
}

.menu a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  margin-left: 10px;
}

.titulo {
  text-align: center;
  margin: 40px;
}

.titulo p {
  background-color: #d6baba;
  display: inline-block;
  padding: 35px;
}

.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}

.texto {
  background-color: #d6baba;
  padding: 50px;
  width: 60%;
}

.imagem {
  width: 250px;
}

.rodape {
  background-color: #b88989;
  padding: 20px;
  text-align: right;
  margin-top: auto;
}
