body{
margin:0;
font-family: Georgia, serif;
background:#e8e4e4;
}

.cabecalho-principal {
   display:flex;
   justify-content:space-between;
   align-items:center;
   background:#b78787;
   padding:15px 30px;
}

.logo{
height: 40px;
}

nav a{
background:black;
color:white;
text-decoration:none;
padding:10px 15px;
margin-left:10px;
}

.titulo{
text-align:center;
margin:40px;
}

.titulo h1{
background:#d6baba;
display:inline-block;
padding:20px;
}

.conteudo{
display:flex;
justify-content:space-around;
align-items:center;
margin:50px;
}

.conteudo{
display:flex;
justify-content:space-around;
align-items:center;
margin:50px;
}

.imagem img{
width:250px;
}

footer{
background:#b78787;
text-align:right;
padding:20px;
font-size:18px;
}